<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.margin.recorder">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ImageAudioRecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


<!--        <provider-->
<!--            android:grantUriPermissions="true"-->
<!--            android:name=".RecorderFileProvider"-->
<!--            android:exported="false"-->
<!--            android:authorities="com.margin.recorder.provider">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/file_paths"/>-->

<!--        </provider>-->
    </application>

</manifest>